{% extends 'base.html.twig' %}

{% block title %}Ajouter un article{% endblock %}

{% block body %}

<div style="padding-left:50px; width:70%">
<h1>Editer un article </h1>

{{form_start(form)}}

{{include('article/form.html.twig')}}


<button class="btn btn-primary">
    Editer
</button>
{{form_end(form)}}
</div>
{% endblock %}
